.home {
  display: flex;
  min-height: 100vh;
  background: url('/bgidea1.jpg');
  background-position: center;
  background-size:cover;
  position: relative;
}
.title {
  color: white;
  font-family: var(--font-raleway);
  margin: 10px 0;
}
.content {
  position: absolute;
  right: 0; 
  top: 33%;
  max-width: 350px;
}
.text {
  color: white;
  font-family: var(--font-montserrat);
  font-weight: 500;
}
.important {
  font-weight: bold;
}

.about {
  padding: 20px;
  background: url('/about.jpg');
  background-position: center;
  background-size:cover ;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  align-items: center;
}
.about h2 {
  font-family: var(--font-raleway);
  margin: 10px;
  font-size: 29px;
}
.about p {
  font-family: var(--font-montserrat);
  font-weight: 600;
  color: rgb(31, 109, 32);
  background-color: rgba(255, 255, 255, 0.6);
  padding: 10px;
  border-radius: 10px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.container {
  max-width: 800px;
}
@media (max-width: 600px) {
  .home {
    background: url('/phone.jpg');
    background-size:cover;
    background-position: center;
  }
  .content {
    top: 60%;
  }
}