.page {
    background: linear-gradient(to bottom, #0a200a, #1b3a1b);
    min-height: 100vh;
    padding: 20px;
    position: relative;
}
.page::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url('/leavestest2.png');
    background-position:center;
    background-repeat: repeat-x;
    z-index: 0;
    background-size:cover;
    opacity: 0.20;
    pointer-events: none;
    filter: blur(1px);
}
.page > * {
  position: relative;
  z-index: 1;
}
.dino {
    color: white;
    background-color: rgba(74, 106, 67, 0.826);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.328);
    width: 200px;
    text-align: center;
    cursor: pointer;
    transition: ease 0.5s transform;
    flex: 0 0 calc(20% - 30px);
}
.dino:hover {
    transform: scale(1.08);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.51);
}
.list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin-top: 40px;
    font-family: var(--font-raleway);
}

.pagination {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  color: white;
}

.pagination button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}
.button {
    background-color: rgb(84, 145, 89);
    border: 1px solid white;
    padding: 5px 10px;
    border-radius: 10px;
   font-weight: 900;
   color: white;
   font-size: 14px;
   font-family: Arial, Helvetica, sans-serif;
   cursor: pointer;
}
@media (max-width: 600px) {
    .list {
        gap:15px; 
    }
    .dino {
        font-size: 13px;
        width: 150px;
    }
}
