.header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 100px;
    align-items: center;
    padding: 0 30px;
    z-index: 5;
}
.img {
    width: 60px;
}
.link {
    text-decoration: none;
    color: white;
    font-family: var(--font-oswald);
    font-size: 18px;
}
.navigation {
    display: flex;
    gap: 15px;
    align-items: center;

}
.line {
    width: 1.5px;
    height: 22px;
    background-color: white;
}
.searchbar {
    display: flex;
    gap: 15px;
    align-items: center;
}
.search {
    background-color: transparent;
    border: none;
    border-bottom: 1.6px solid rgba(255, 255, 255, 0.704);
    color: rgb(240, 240, 240);
    font-size: 18px;
    padding: 3px 10px;
}
.search:focus {
    outline: none;
}
.searchicon {
    width: 25px;
}
@media (max-width: 600px) {
    .searchbar {
        display: none;
    }
    .header {
        padding: 10px;
        gap: 0px;
        justify-content: center;
    }
    .img {
        display: none;
    }
}