.wrapper {
    position: fixed;
    background-color: rgba(5, 21, 7, 0.233);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
}
.content {
    width: 700px;
    position: relative;
    background-color: rgb(221, 167, 109);
    height: 80%;
    border-radius: 10px;
    border: 2px solid rgb(126, 91, 62);
    overflow-x: hidden;
    overflow-y: scroll;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.45);
}
.introbg {
    background-color: rgb(126, 91, 62);
    position: relative;
    height: 45%;
    box-shadow: 0 0 10px rgba(83, 47, 23, 0.314) ;
    border-bottom: 2px solid rgba(255, 255, 255, 0.72);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.45);
}
.intro {
    position: absolute;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    bottom: 0;
    align-items: baseline;
    width: 100%;
}
.intro h1 {
    color: white;
    font-family: var(--font-raleway);
    font-size: 36px;
    text-shadow:
    1px 1px 0 #db9346,
    2px 2px 0 #9d5b14,
    3px 3px 0 #965713,
    4px 4px 8px rgba(0, 0, 0, 0.4);
}
.intro img {
    max-width: 430px;
    max-height: 330px;
    position: absolute;
    bottom: -70px;
    right: 0;
    filter: drop-shadow(0 8px 20px rgba(16, 10, 6, 0.59));
}
.close {
    background-color: transparent;
    position: absolute;
    top: 0px;
    right: 10px;
    z-index: 5;
    border: none;
    color: white;
    font-size: 30px;
    font-family: var(--font-raleway);
    cursor: pointer;

}
.credits {
    margin: 10px;
    font-size: 14px;
    color:rgb(147, 74, 26);
}
.credits a {
    position: relative;
    color: rgb(157, 60, 14);
    z-index: 22;
    background-color: #e2a25d;
    border-radius: 5px;
}
.author {
    color: white;
    font-family: var(--font-oswald);
    font-size: 20px;
    padding: 5px 20px;
}
.ethymology {
    color: rgb(254, 245, 243);
    font-style: italic;
    padding: 0 24px;
    font-family: var(--font-oswald);
    font-size: 15px;
}
.chip {
    background-color: rgb(238, 188, 127);
    box-shadow: 0 0 10px rgb(244, 201, 132);
    border: 1px solid rgb(242, 211, 174);
    width: fit-content;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
}
.number {
    font-size: 26px;
    color: white;
    font-family: var(--font-oswald);
    text-transform: capitalize;
}
.stat {
    color: white;
    font-family: var(--font-oswald);
    font-size: 15px;
}
.heading {
    font-family: var(--font-raleway);
    color: white;
    margin: 15px 10px;
    font-size: 29px;
}
.stats {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    padding: 0 20px;
    margin-bottom: 15px;
}
.period {
    font-family: var(--font-raleway);
    color: white;
    margin: 0px 10px;
    font-size: 26px;
    font-weight: 800;
}
.age {
    font-family: var(--font-raleway);
    color: white;
    margin: 0px 16px;
    font-weight: 600;
    font-style:italic ;
}
.specimen {
    font-family: var(--font-raleway);
    color: white;
    font-weight: 600;
    margin: 0px 16px;
}
.species {
    font-family: var(--font-raleway);
    color: white;
    font-weight: 600;
    margin: 10px 16px;
}
.dietbox {
    background-color: rgb(238, 188, 127);
    box-shadow: 0 0 10px rgb(244, 201, 132);
    border: 1px solid rgb(242, 211, 174);
    width: fit-content;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    color: white;
    margin: 10px 20px;
    display: flex;
    align-items: end;
    gap: 10px;
}
.dietbox h2 {
    font-family: var(--font-raleway);
    font-size: 23px;
}
.dietbox p {
    font-size: 20px;
    font-family: var(--font-raleway);
    font-weight: 700;
}
.specie {
    background-color: rgb(238, 188, 127);
    box-shadow: 0 0 10px rgb(244, 201, 132);
    border: 1px solid rgb(242, 211, 174);
    width: fit-content;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    color: white;
    margin: 5px;
}
.discoverer {
    font-family: var(--font-raleway);
    color: white;
    font-weight: 600;
    margin: 0px 19px;
}
.place {
    font-family: var(--font-raleway);
    color: white;
    font-weight: 600;
    margin: 5px 16px;
    font-style: italic;
}
.classificationbox {
    color: white;
    font-family: var(--font-raleway);
    color: white;
    font-weight: 600;
    margin: 0px 15px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgb(240, 216, 182);
    width: fit-content;
    background-color: rgb(234, 186, 123);
    margin-bottom: 20px;
}
.status {
    text-align: center;
    margin-bottom: 40px;
    color: white;
}